* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: PT Sans, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-size: inherit;
}

body{

background-color: black;

}

main{
    width: 50em;
    padding-left: 5em;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;


}
 .nav-container:before,
 .nav-container:after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 0;
    background: rgb(0, 47, 255);
    transition: width 1.2s linear;
}


.nav-container:before {
    left: 0;
}

 .nav-container:after {
    right: 0;
}

 .nav-container.scrolled {
    background: rgb(0, 0, 0);
}

 .nav-container.scrolled:before,
 .nav-container.scrolled:after {
    width: 50%;
}



 .nav-container .Company-name-nav {
    color: rgb(0, 47, 255);
    text-align: center;
    text-decoration: none;
}

.navigation ul {

    display: flex;
}


.navigation ul li {

    list-style: none outside;
    padding: 0.6em 1.2em;

}


.navigation a {
    color: rgb(0, 47, 255);
    text-align: center;
    text-decoration: none;

    display: flex;
}

.nav-container.scrolled .navigation a {
    color:(255, 0, 0);
}



.navigation ul li:hover a {
    color: rgb(0, 47, 255)
}

.nav-container.scrolled .navigation ul li:hover a {
    color: rgb(255, 255, 255);
}

.Title {
    margin-top: 10em;
    margin-bottom: 2em;
}
.Description{
    margin-bottom: 5em;

}

.content-wrapper{
display: flex;
flex-direction: column;
margin-bottom: 5em;
}

.images-content-warpper{

    display: grid;
    grid-column: 2,2fr;
  padding: 2em;
    
}