* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: PT Sans, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-size: inherit;
}

body{

background-color: black;

}

h1{
padding: 0.5em 0;
text-align:center;
color:white;
font-style: italic;
border-top: 2px solid #31598C;
font-size: 3.5em;

}



h3{
text-align:left;
color:white;
font-style: italic;
padding-bottom: 2em;
}
 
h4{
    text-align:left;
    color:white;
    font-style: italic;
    padding-bottom: 2em; 
    font-size: 2.5em;  
 }


p{
text-align:left;
color:white;
font-style: italic;
margin-bottom: 2em;
width: 50em;
}

main{
    width: 50em;
    padding-left: 5em;
}
.Description{
    margin-bottom: 5em;

}

.content-wrapper{
display: flex;
flex-direction: column;
margin-bottom: 5em;
}

.images-content-warpper{

    display: grid;
    grid-column: 2,2fr;
  padding: 2em;
    
}